/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 juil. 2017, 10:17:13
    Author     : manuel
*/


.souris{
    border-left:3px solid white
}



.souris:hover{
    border-left:3px solid #3C8DBC;
    background: #eee;
}