/*@media(max-width:720px){
    @media(max-height:600px){    
        #contact-list{height: 200px; width: 100%; overflow: auto;}
        #contact-list table:hover{background-color: #022; color:whitesmoke; width: 100%; font-weight: bold; border-radius: 10px;}
        #contact-detail{height: 400px;border-bottom: none; width:100%; border-top: none; border-right: none;}
    }
}
@media(min-width:720px){
    @media(min-height:300px){
        #contact-list{height: 600px; overflow: auto;}
        #contact-list table:hover{background-color: #022; color:whitesmoke; font-weight: bold; border-radius: 10px;}
        #contact-detail{min-height: 600px;border-bottom: none; border-top: none; border-right: none;}
    }
    @media(max-height:300px){
        #contact-list{height: 300px; width: 100%; overflow: auto;}
        #contact-list table:hover{background-color: #022; color:whitesmoke; font-weight: bold; border-radius: 10px;}
        #contact-detail{height: 300px;border-bottom: none; width:100%; border-top: none; border-right: none;}
    }
}*/
/*@media(min-width:720px){
    #contact-detail{min-height: 450px; border:none; background-color: none;}
    #contact-list{width: 25%; max-height: 450px; overflow: scroll;}
    #parent-frame{ width: 50%; max-height: 450px; min-height: 450px; background:none;}
}*/